* {
    user-select: none !important; 
}

body {
    background-color: black; 
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5em;
}

section {
    padding: 20px;
    text-align: center;
}

.dynamic-island-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 7px;
}

.dynamic-island {
    background-color: white; 
    color: black; 
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: fit-content;
    max-width: 80%;
    text-align: center;
    animation: float 3s ease-in-out infinite;
    transition: transform 0.2s ease; 
    cursor: pointer; 
}

.dynamic-island:active {
    transform: scale(0.95);
}

footer {
    background-color: #040000;
    color: white;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    margin: 0;
    border: none;
}

.rounded-container {
    background-color: #727272;
    color: white;
    padding: 0px 10px;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 166, 255, 0.5);
    width: 90%; 
    max-width: 1200px; 
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.5em; 
}



@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.circle-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}

.circle-image {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 3px solid white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    
}.dynamic-icon {
    width: 50px; 
    height: 50px; 
    object-fit: contain; 
    display: block; 
    margin: 0 auto; 
}
body {
    user-select: none;
}

#flag {
    display: inline-block;
    transition: transform 0.2s ease;
    cursor: pointer;
}

#flag:active {
    transform: scale(0.9);
}
