body {
    background-color: black; /* Hintergrund der Seite schwarz */
    color: white; /* Standardtextfarbe weiß */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5em;
}

section {
    padding: 20px;
    text-align: center;
}


/* Dynamic Island Bubbles */
.dynamic-island-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 7px;
}

.dynamic-island {
    background-color: white; /* Bubbles weiß */
    color: black; /* Text in den Bubbles schwarz */
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: fit-content;
    max-width: 80%;
    text-align: center;
    animation: float 3s ease-in-out infinite;
}
.rounded-container {
    background-color: #808080; /* Grauer Hintergrund */
    color: white; /* Textfarbe */
    padding: 0px; /* Innenabstand */
    border-radius: 25px; /* Abgerundete Ecken */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Schatten */
    max-width: 90%; /* Maximale Breite des Behälters */
    margin: 20px auto 0; /* Abstand nach oben und zentriert */
    position: relative; /* Position für Schatten der Bubbles */
    z-index: 0; /* Behälter liegt unter den Bubbles */
}


@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.circle-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Abstand nach oben */
}

.circle-image {
    width: 50px; /* Breite des Kreises */
    height: 50px; /* Höhe des Kreises */
    border-radius: 50%; /* Macht das Bild rund */
    object-fit: cover; /* Passt das Bild an den Kreis an */
    border: 3px solid white; /* Optional: Weißer Rand um das Bild */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Optional: Schatten */
    
}.dynamic-icon {
    width: 40px; /* Breite des Icons */
    height: 40px; /* Höhe des Icons */
    object-fit: cover; /* Passt das Bild an die Größe an */
    border-radius: 50%; /* Optional: Macht das Icon rund */
    margin: 5px; /* Abstand innerhalb des Behälters */
}